.container-flex {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.card {
  height: fit-content;
}

.newmat {
  color: white;
  background-color: rgb(65, 65, 153);
}

.btn {

  background-color: palevioletred;
}

.card-height {
  height: 160px;
}

.cdk-virtual-scroll-data-source-example .example-viewport {
  margin-top: 15px;
  height: 200px;
  width: 650px;
  border: 1px solid black;
}

.cdk-virtual-scroll-data-source-example .example-viewport .cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-direction: row;
}

.cdk-virtual-scroll-data-source-example .example-item {
  width: 50px;
  height: 100%;
  writing-mode: horizontal-tb;
}

.adjust{
  
  align-items:center;
  margin-left: 45rem;
  bottom: 50px;
  //width: 30rem;
  height: auto;
  //overflow-x: scroll;
  
}
.sized{
  position: relative;
  bottom: 155px;
}

.round{
  margin-top: 15px;
  border-radius: 50%;
  height: 80px;
  
}

.maincard{
  
  background-color: rgb(247, 248, 248);
  width: 690px;
  height: auto;
  bottom: 30rem;
}

.propertybtn{
  background-color: indianred;
  border-radius: 5px;
}

.cardFont{
  font-size: 22px;
  display: flex;
  
}

.nestedimage{
  height: 10rem;
 
}

.align{
  margin-left: 24.5rem;
}

.smallimg{
  height: 2.5rem;
}


.adjustimg {

  position: relative;

  border-radius: 200rem;

  height: 98px;

  padding: 10px;

}



.rows{

  width: 650px;

  overflow-y: scroll;

   border: 1px solid;

}

// .deal{

//   border:1px solid;

// }


