<div class="container-flex">
    <div class="row">
        <div class="col-xl-3 col-sm-6 col-12 mt-3" *ngFor="let card of cards">
            <mat-card class="card">
                <mat-card-content><span class="card_name">{{card.title}}</span></mat-card-content>
                <mat-card-content><span class="card_number">
                        <h1><b>{{card.subtitle}}</b></h1>
                    </span>
                    <span class="card_percentage" style="color: rgb(57, 194, 57);"><b>{{card.percentage}}</b></span>
                    <span class="card_status">{{card.small}}</span></mat-card-content>
                <span class="mattheme"> <mat-progress-bar mode="determinate"
                        [value]="card.value"></mat-progress-bar></span>
            </mat-card>
        </div>
    </div>

    <div class="row">

        <mat-card class="newmat" [ngStyle]="{'width':'20rem','height':'14rem'}">
            <mat-card-content>
                <p><b>
                        <h4>Your Current Plan</h4>
                    </b></p>
                <span>
                    <h1>$19/Month</h1>
                </span>
                <p>. Max Listing Items</p>

                <button class="btn">Renew Now</button>
            </mat-card-content>
        </mat-card>


        <div class="col-lg-4 mt-4" [ngStyle]="{'width':'20rem','height':'14rem'}">
            <mat-card>
                <mat-card-content>
                    <canvas id="MyChart"></canvas>
                </mat-card-content>
            </mat-card>
        </div>

    </div>