.image {
    height: 2.5rem;
    border: none;
    border-radius: 1rem;
    margin: 0 1rem 0 0;
}

star {
    // visibility:hidden;
    font-size: 30px;
    cursor: pointer;
    color: yellow;
    margin: 10px;
}

.star:before {
    content: "\2605";
    position: absolute;
    visibility: visible;
    color: yellow;
}

.star:checked:before {
    content: "\2606";
    position: absolute;
    color: yellow;
}

.info {
    font-weight: 300;
    font-size: 0.8rem;
    margin: 0rem 0 0 0;
    color: grey;
}