<header>
  <mat-toolbar color="primary">
    <span class="menu">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        (click)="sidetoggles()">
        <mat-icon>menu</mat-icon>
      </button>
    </span>
    <div class="companylogo">
      <img src="../../../assets/crossasyst-Logo-White.png" alt="Company Logo" />
    </div>
    <div class="input-group">
      <!-- <div class="form-outline">
      <input type="search" id="form1" class="form-control" />
      <label class="form-label searching" for="form1">Search</label>
    </div> -->

      <!-- Search form -->
      <div class="md-form mt-0">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </div>

    </div>

    <span class="example-spacer">

      <i class="fa-solid fa-bell bell"> </i>

      <!-- <button mat-icon-button class="example-icon-home" aria-label="Example icon-button with home icon">
    <mat-icon>home</mat-icon>
  </button> -->
      <button mat-icon-button class="example-icon favorite-icon messageBox"
        aria-label="Example icon-button with heart icon">
        <mat-icon> email</mat-icon>
      </button>
    </span>
    <!-- <button mat-icon-button class="example-icon-share" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button> -->

  </mat-toolbar>
</header>