<mat-card class="example-card">
   <mat-card-subtitle>Main</mat-card-subtitle>

   <div class="components">
   <mat-card-title>
      <button mat-icon-button disabled>
         <span class="material-icons-outlined">
            <i class='fab fa-microsoft'></i>
            <a routerLink=""> Dashboard</a></span>
      </button>
   </mat-card-title>

   <mat-card-title>
      <button mat-icon-button disabled><mat-icon>equalizer</mat-icon> <a routerLink="/widgets"> Widget </a></button>
   </mat-card-title>
   <mat-card-title>
      <button mat-icon-button disabled><i class="fa-solid fa-box-open"></i><a routerLink="/matrics">Matrics</a></button>
   </mat-card-title>

   <mat-card-title>
      <button mat-icon-button disabled><mat-icon> border_all</mat-icon> <a routerLink="/layots">Layouts</a></button>
   </mat-card-title>
</div>
</mat-card>

<mat-divider></mat-divider>