<mat-card class="example-card">
   <mat-card-subtitle>Main</mat-card-subtitle>

   <mat-card-title>
      <button mat-icon-button disabled>
         <i class="bi bi-speedometer2"></i><a routerLink="">Dashboard</a>
      </button>
   </mat-card-title>

   <mat-card-title>
      <button mat-icon-button disabled><mat-icon>equalizer</mat-icon> <a routerLink="/widgets"> Widget </a></button>
   </mat-card-title>
   <mat-card-title>
      <button mat-icon-button disabled><i class="fa-solid fa-box-open"></i><a routerLink="/matrics">Matrics</a></button>
   </mat-card-title>

   <mat-card-title>
      <button mat-icon-button disabled><mat-icon> border_all</mat-icon> <a routerLink="/layots">Layouts</a></button>
   </mat-card-title>
</mat-card>
<mat-divider></mat-divider>